@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Anek+Kannada:wght@300;400&family=Glory:wght@300;400&display=swap');

@font-face {
    font-family: 'Xilosa';
    src: url('fontes/xilosa_.ttf') format('truetype');
}

:root{
    --cor01: #fce6ab;
    --cor02: #FFA020;
    --cor03: #431201;
    --fonte01: 'Xilosa', cursive;
    --fonte02: 'Glory', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor01);
    font-family: var(--fonte02);
    min-height: 100vh;
}

header{
    width: 100%;
    height: 18%;
    background-color: var(--cor02);
    color: var(--cor03);
    text-align: center;
}

header> h1{
    font-family: var(--fonte01);
    font-size: 9vw;
    font-variant: small-caps;
    padding-top: 30px;
    margin: 0px;
}

header> p{
    font-size: 1.3em;
    padding-bottom: 30px;
    margin: 0px;
    font-weight: normal;
}

a{
    text-decoration: none;
    color: var(--cor03);
    font-weight: 800;
}

a:hover{
    text-decoration: underline;
}

.sessoes{
    font-family: var(--fonte02);
    font-size: 3vw;
    font-weight: bold;
    line-height: 2em;
    padding: 10px;
    color: var(--cor03);
}

#primeira{
    background: black url('imagens/fundo1.jpg') right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.459);
}

#primeira>p, #segunda>p{
    background-color: rgba(0, 0, 0, 0.342);
    color: var(--cor01);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.281);
    font-weight: normal;
    padding: 5px;
    width: 45%;
    height: 30%;
}

#segunda{
    background: black url('imagens/fundo2.jpg') right center no-repeat fixed;
    background-size: cover;
    box-shadow: inset 3px 3px 15px rgba(0, 0, 0, 0.459);
}

footer {
    background-color: var(--cor02);
    color: var(--cor03);
    text-align: center;
    padding: 10px;
}

footer>p{
    margin: 0px;
}

#creditos{
    font-size: 15px;
}